@import url("https://use.typekit.net/hfd5obq.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

}

/* Utility classes */

.container {
    max-width: 1080px;
    margin: auto;
    width: 100%;
}

/* Hero BG */

#hero {
    /*background: url("../img/bg-home/nebula-1.jpg") no-repeat center center;*/
    background: #000;
    width: 100vw;
    height: 100vh;
}

/* Nav buttons? */

#nav-flex {
    display: flex;
    align-items: flex-end;
    height: 80vh;
}

#nav-container {
    display: flex;
    background: #111021;
    height: 100px;
    width: 100%;
    color: white;
    padding: 0 40px;
    justify-content: space-between;
}

#nav-container.light {
    color: #000;
    background: #fff;
}

#nav-container .info {
    align-self: center;
}

#nav-container .info h1 {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
}

#nav-container .info p {
    font-family: futura-pt,sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    margin-left: 20px;
}

#nav-container nav ul {
    display: flex;
    list-style: none;
}

#nav-container nav {

}

#nav-container nav ul {
    margin-top: -10px;
}

#nav-container nav li {
    /*padding-left: 10px;*/
}

#nav-container .navbtn {
    width: 80px;
    height: 80px;
}

.navbtn.red {
    background: #EB3B5A;
}

.navbtn.red > div {
    background: #FC5C65;
}

.navbtn.orange {
    background: #fa8231;
}

.navbtn.orange > div {
    background: #FD9644;
}

.navbtn.yellow {
    background: #f7b731;
}

.navbtn.yellow > div {
    background: #FED330;
}

.navbtn.green {
    background: #20bf6b;
}

.navbtn.green > div {
    background: #26de81;
}

.navbtn.turquoise {
    background: #0fb9b1;
}

.navbtn.turquoise > div {
    background: #2bcbba;
}

.navbtn.baby-blue {
    background: #2d98da;
}

.navbtn.baby-blue > div {
    background: #45aaf2;
}

.navbtn.blue {
    background: #3867d6;
}

.navbtn.blue > div {
    background: #4b7bec;
}

.navbtn > div {
    width: 100%;
    height: 100%;
}

.navbtn:hover > div {
    transform: translateY(-10px);
}