<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cody &bull; Developer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/primary.css') }}">
    </head>
    <body>
        <div id="hero">
            <div class="container" id="nav-flex">
                <div class="light" id="nav-container">
                    <div class="info">
                        <h1>CODY QUINN</h1>
                        <p>I develop software for the future.</p>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <div class="navbtn red">
                                    <div></div>
                                </div>
                            </li>
                            <li>
                                <div class="navbtn orange">
                                    <div></div>
                                </div>
                            </li>
                            <li>
                                <div class="navbtn yellow">
                                    <div></div>
                                </div>
                            </li>
                            <li>
                                <div class="navbtn green">
                                    <div></div>
                                </div>
                            </li>
                            <li>
                                <div class="navbtn turquoise">
                                    <div></div>
                                </div>
                            </li>
                            <li>
                                <div class="navbtn baby-blue">
                                    <div></div>
                                </div>
                            </li>
                            <li>
                                <div class="navbtn blue">
                                    <div></div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


{#        Scripts #}
        <script src="https://kit.fontawesome.com/54beb268ca.js" crossorigin="anonymous"></script>
    </body>
</html>