<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cody &bull; Developer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/primary.css') }}">
    </head>
    <body>
        <div id="hero">
            <div class="container" id="nav-flex">
                <div class="light" id="nav-container">
                    <div class="info">
                        <h1>CODY QUINN</h1>
                        <p>{{ quote | safe }}</p>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <div class="navbtn red">
                                    <div>
                                        <a href="https://github.com/CatDevz/" target="_blank"><i class="fab fa-github"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="navbtn orange">
                                    <div>
                                        <a href="https://www.youtube.com/channel/UCpmUhcN3xCrk_QjXFDSzhaQ" target="_blank"><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="navbtn yellow">
                                    <div>
                                        <a href="mailto:codegamertech@gmail.com"><i class="fas fa-envelope"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="navbtn green">
                                    <div>
                                        <a href="https://discord.gg/7TqeUHE" target="_blank"><i class="fab fa-discord"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


{#        Scripts #}
        <script src="https://kit.fontawesome.com/6ea209aac4.js" crossorigin="anonymous"></script>
    </body>
</html>